/* form-label controls everything, need to find a style that fits all pages*/

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 20px;
  margin-top: -50px;
}

.alertStyle {
  margin-top: -50px;
  margin-bottom: 50px;
}
 
.h1Style {
  background-color: #512888;  
  color: #fff;  
  width: 100%;
  text-align: center;
  margin: 0;  
  line-height: 1.2;  
  padding: 10px 0;  
  border: 3px solid #757575;
}

.h2Style {
  background-color: #d1d1d1; 
  color: #512888; 
  width: 100%;
  text-align: center;
  margin: 0;  
  line-height: 1.2; 
  padding: 10px 0;  
  border: 3px solid #757575;
  border-top: transparent;
}

.custom-message-1 { 
  background: #d1d1d1;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin-bottom: 20px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  border: 3px solid #512888;
} 

.custom-message-1 > p{ 
  margin-left: 15px;
}
 
.btn-submit {
  background-color: #512888;  
  color: white;  
  border: none;
  padding: 10px 20px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.btn-submit:hover {
  background-color: #BF8CF7;  
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-table-container {
  padding-left: 0;
  padding-right: 0;
}

.custom-table {
  width: 100%;
  margin: 2rem auto;
  color: #212529;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 5px 4px 8px #512888;
}

.custom-table th,
.custom-table td {
  padding: 0.75rem;
  vertical-align: top; 
}

.custom-table thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #512888;
  color: white;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.4);
}

.custom-table thead th:first-child {
  border-top-left-radius: 10px; /* Rounds the top-left corner */
}

.custom-table thead th:last-child {
  border-top-right-radius: 10px; /* Rounds the top-right corner */
}

.custom-table thead th:not(:last-child) {
  border-right: 2px solid white;
}

.custom-table tbody tr:last-child td {
  border-bottom: none;
}

.custom-table thead tr:first-child th {
  border-bottom: none;
}

.custom-table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
  color: black;
}

.custom-table-striped tbody tr:nth-of-type(even) {
  background-color: #d1d1d1;
  color: black;
}