.footer {
  position: relative;
  text-align: center;
  color: white; 
}

.footerImg {
  display: block;
  width: 100%;
  height: 20vh; 
  object-fit: cover;
  object-position: center top;  
}

.footerImgSmall {
  display: none;  
}

.footerContent {
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  max-width: 500px;  
}

@media (max-width: 768px) {
  .footerContent {
      width: 90%;  
      font-size: 14px; 
      /* Adjust font size for smaller screens */
  }
  .footerImg {
    display: none; /* Hide the original image */
  }
  
  .footerImgSmall {
    display: block; /* Show the smaller image */
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center bottom;
  }
}
