.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 30px;
}
 
.h1Style {
  background-color: #512888; 
  color: #fff; 
  width: 100%;
  text-align: center;
  margin: 0; 
  line-height: 1.2; 
  padding: 10px 0;  
  border: 3px solid #757575;
}

.h4Style {
  background-color: #d1d1d1; 
  color: #512888;  
  width: 100%;
  text-align: center;
  margin: 0; 
  line-height: 1.2; 
  padding: 10px 0;  
  border: 3px solid #757575;
  border-top: transparent;
}
 
.boxStyle, .applyBoxStyle {
  border: 1px solid #ddd;  
  padding: 15px;  
  border: 2px solid #512888;
  margin-bottom: 15px;  
  box-shadow: 5px 4px 8px 0 #512888;  
  background-color: #fff;  
  border-radius: 5px;  
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.link-no-decoration {
  text-decoration: none; 
}

.btn-apply {
  background-color: #512888;  
  color: white;  
  border: none;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.btn-apply:hover {
  background-color: #BF8CF7;  
}
 
.h2Style {
  text-align: center;  
  color: #512888; 
  padding: 10px 0; 
  margin: 0 auto; 
  width: 100%;  
}

.pStyleApply {
  font-size: 1.25rem;  
  text-align: center;
  margin: 0 auto;  
}