.AdminForm {
     
}

.topHeader {
    margin: 0 auto; /* may need to adjust, just dont know how to add to link bar for test */
    text-align: center;
}

.otherHeader {
    margin: 20;
    text-align: left;
}

.btn-space {
    margin-right: 5px;
    margin: 20;
    text-align: right;
}