.App {
  text-align: center;
}



.app-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #fff;
    background-color: #4f2d7f;
}

.input-group>label {
  display: inline-block;
  width: 50%;
  max-width: 100px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.App-banner{
  background-color: #41206c;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  
  color: #e4e4e7;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #41206c;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e4e4e7;
}

.jumbotron .h1, .jumbotron h1 {
  font-size: 63px;
}

.jumbotron{
  background-color: #eee;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.container-fluid .jumbotron, .container .jumbotron {
  padding-left: 60px;
  padding-right: 60px

}

.container  {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  
 

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}



li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.customIndent {
  margin-left: 165px;
}

.col-md-6 {
    width: 50%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.application-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

textarea {
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

textarea {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  overflow-wrap: break-word;
  background-color: field;
  column-count: initial !important;
  writing-mode: horizontal-tb !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
  white-space: pre-wrap;
}

.application-form{
  position: relative;
  display: table;
  border-collapse: separate;
}

.status-message{
  text-align: left;
}

.App-link {
  color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
