.appHeader {
  display: flex;
  flex-direction: column; 
  align-items: center;  
  justify-content: center;  
  color: #fff;
  background-color: #BF8CF7;
  padding: 20px 0;  
  margin-bottom: 30px; /* Add more space below the header */
}
 


