/* Existing styles adjusted */
.headerContainer {
    background-color: #ffffff;  
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: start;
  }
  
  .headerTop {
    display: flex;
    width: 100%; 
    align-items: center;
    justify-content: start; 
  }
  
  .logo {
    height: auto;
    width: auto;
    max-width: 80px;
  }
  
  .divider
  {
    position: relative;
    border-left: 1.4px solid currentColor;
    margin-right: 1rem;
    height: 2rem;
    vertical-align: middle;
    color: #512888;
    font-size: 1.5rem;
  }
  .dividerNav {
    position: relative;
    border-left: 1.4px solid #ffffff; /* Adjust color as needed */
    height: 1.5rem;
  }
  
  .navItemContainer {
    display: flex;
    align-items: center;
    padding: 7px 8px; /* Adjust padding as needed */
    width: 100%; /* Ensure it takes full width */
  }
  
  .headerTitle {
    color: #482277;
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .navSection {
    width: 100%; 
    background-color: #482277; 
  }
  
  .navList {
    list-style-type: none;
    display: flex;
    justify-content: left;  
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    color: white;
    flex-grow: 1;
    text-decoration: none;
  }
  
  .navItem:hover {
    background-color: #e4e4e7;
    color: #41206c;
    cursor: pointer;
  }