.ProfilesForm {
     
}

.topHeader {
    margin: 0 auto;  
    text-align: center;
}

.footer {
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    background-color: #BF8CF7;  
}
